---
import BaseLayout from "../layout/BaseLayout.astro";
import Certifications from "../components/Certifications.astro";
import FooterPage from "../components/FooterPage.astro";
import { AnimatedPinDemo } from "../components/AnimatedPinDemo";
import { TextGenerateEffectDemo } from "../components/TextGenerateEffect";
import ContactSection from "../components/organisms/ContactSection.astro";
import Navigation from "../components/organisms/Navigation.astro";
---

<BaseLayout>
  <main class="home" data-scroll-container>
    <Navigation />

    <section class="home__hero">
      <div class="hero__title">
        <h1 class="mobile">
          FRONT <br />
          —— END <br />
          DEVELOPER
        </h1>
        <h1 class="hero__title__top overflow desktop">
          <div class="hero__title__top" title-overflow>
            <span
              class="hero__title__left"
              data-scroll=""
              data-scroll-direction="horizontal"
              data-scroll-position="top"
              data-scroll-speed="7"
            >
              <span class="hero__hover">F</span>
              <span class="hero__hover">R</span>
              <span class="hero__hover">O</span>
              <span class="hero__hover">N</span>
              <span class="hero__hover">T</span>
            </span>
            <span class="hero__title__dash desktop">——</span>
            <span class="hero__title__dash tablet">——</span>

            <span
              class="hero__title__right"
              data-scroll=""
              data-scroll-direction="horizontal"
              data-scroll-position="top"
              data-scroll-speed="-7"
            >
              <span class="hero__hover">E</span>
              <span class="hero__hover">N</span>
              <span class="hero__hover">D</span>
            </span>
          </div>
        </h1>

        <span class="hero__title__bottom overflow">
          <div class="hero__title__bottom">
            <h1 class="bottom__left desktop" title-overflow>
              <span class="hero__hover">D</span>
              <span class="hero__hover">E</span>
              <span class="hero__hover">V</span>
              <span class="hero__hover">E</span>
              <span class="hero__hover">L</span>
              <span class="hero__hover">O</span>
              <span class="hero__hover">P</span>
              <span class="hero__hover">E</span>
              <span class="hero__hover">R</span>
            </h1>
            <div class="bottom__right">
              <p class="hero__paragraph">
                <span class="first-word">About</span>
                <span class="capitalize md:hidden">
                  &nbsp; i am a Web developer & Data Enthusiast based in Lombok,
                  Indonesia, driven by a relentless pursuit of innovation and
                  continuous growth.</span
                >
                <TextGenerateEffectDemo
                  className="max-md:hidden"
                  words={"i am a Web developer & Data Enthusiast based in Lombok, Indonesia, driven by a relentless pursuit of innovation and continuous growth."}
                  client:load
                />
              </p>
              <div class="hero__scroll">
                <p class="capitalize">Scroll Down</p>
                <div class="c-infinite">
                  <span class="c-link">
                    <span class="c-link__inner">
                      <span>
                        <svg
                          width="20"
                          height="21"
                          viewBox="0 0 20 21"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M10.8333 13.9766L15.3033 9.50658L16.4816 10.6849L9.99998 17.1666L3.51831 10.6849L4.69664 9.50658L9.16664 13.9766V3.83325H10.8333V13.9766Z"
                            fill="#777777"></path>
                        </svg>
                      </span>
                      <span class="c-link__animated">
                        <svg
                          width="20"
                          height="21"
                          viewBox="0 0 20 21"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M10.8333 13.9766L15.3033 9.50658L16.4816 10.6849L9.99998 17.1666L3.51831 10.6849L4.69664 9.50658L9.16664 13.9766V3.83325H10.8333V13.9766Z"
                            fill="#777777"></path>
                        </svg>
                      </span>
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </span>
      </div>
    </section>

    <section class="home__projects">
      <span class="home__projects__line left">
        <span></span>
      </span>
      <div class="home__projects__project">
        <div class="home__projects__project__label">
          <div class="label__inner">
            <p>
              WEB DEVELOPMENT / <br />
              NEXT.JS & LARAVEL
            </p>
          </div>
        </div>

        <a
          href="https://umkm.insidelombok.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="home__projects__project__link"
        >
          <h1
            class="home__projects__project__title"
            data-scroll=""
            data-scroll-direction="horizontal"
            data-scroll-speed="-8"
          >
            <span class="inline-ovh">
              <div class="title__main left">
                <span
                  class="slide-up"
                  data-content="INSIDE UMKM - WEB PLATFORM FOR MICRO, SMALL, AND MEDIUM ENTERPRISES"
                  aria-hidden="true"></span>
                INSIDE UMKM - WEB PLATFORM FOR MICRO, SMALL, AND MEDIUM ENTERPRISES
              </div>
            </span>
          </h1>
        </a>

        <div class="project__link">
          <a
            href="https://umkm.insidelombok.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="c-button"
          >
            <span class="c-link">
              <span class="c-link__inner">
                <span>VIEW SITE</span>
                <span class="c-link__animated">VIEW SITE</span>
              </span>
            </span>
          </a>
        </div>
      </div>

      <span class="home__projects__line right">
        <span></span>
      </span>

      <div class="home__projects__project right">
        <div class="home__projects__project__label">
          <div class="label__inner">
            <p>
              WEB DEVELOPMENT / <br />
              CODEIGNITER
            </p>
          </div>
        </div>
        <a
          href="https://absen.oxindosolution.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="home__projects__project__link"
        >
          <h1
            class="home__projects__project__title"
            data-scroll=""
            data-scroll-direction="horizontal"
            data-scroll-speed="10"
          >
            <span class="inline-ovh">
              <div class="title__main right">
                <span
                  class="slide-up"
                  data-content="ABSENCE APPLICATION - WEB BASED EMPLOYEE ABSENCE APPLICATION"
                  aria-hidden="true"></span>
                ABSENCE APPLICATION - WEB BASED EMPLOYEE ABSENCE APPLICATION
              </div>
            </span>
          </h1>
        </a>

        <div class="project__link">
          <a
            href="https://absen.oxindosolution.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="c-button"
          >
            <span class="c-link">
              <span class="c-link__inner">
                <span>VIEW SITE</span>
                <span class="c-link__animated">VIEW SITE</span>
              </span>
            </span>
          </a>
        </div>
      </div>

      <span class="home__projects__line left">
        <span></span>
      </span>

      <div class="home__projects__project right">
        <div class="home__projects__project__label">
          <div class="label__inner">
            <p>
              WEB DEVELOPMENT / <br />
              CODEIGNITER
            </p>
          </div>
        </div>
        <a
          href="https://github.com/anggawidiarta/SistemInventaris-PKL"
          target="_blank"
          rel="noopener noreferrer"
          class="home__projects__project__link"
        >
          <h1
            class="home__projects__project__title"
            data-scroll=""
            data-scroll-direction="horizontal"
            data-scroll-speed="-8"
          >
            <span class="inline-ovh">
              <div class="title__main left">
                <span
                  class="slide-up"
                  data-content="INVENTORY SYSTEM — MATARAM IMMIGRATION OFFICE"
                  aria-hidden="true"></span>
                INVENTORY SYSTEM — MATARAM IMMIGRATION OFFICE
              </div>
            </span>
          </h1>
        </a>

        <div class="project__link">
          <a
            href="https://github.com/anggawidiarta/SistemInventaris-PKL"
            target="_blank"
            rel="noopener noreferrer"
            class="c-button"
          >
            <span class="c-link">
              <span class="c-link__inner">
                <span>VIEW SITE</span>
                <span class="c-link__animated">VIEW SITE</span>
              </span>
            </span>
          </a>
        </div>
      </div>

      <span class="home__projects__line right">
        <span></span>
      </span>

      <div class="home__projects__project right">
        <div class="home__projects__project__label">
          <div class="label__inner">
            <p>
              MACHINE LEARNING / <br />
              THESIS PROJECT
            </p>
          </div>
        </div>
        <a
          href="https://rosadecor.my.canva.site/thesis-showcase"
          target="_blank"
          rel="noopener noreferrer"
          class="home__projects__project__link"
        >
          <h1
            class="home__projects__project__title"
            data-scroll=""
            data-scroll-direction="horizontal"
            data-scroll-speed="10"
          >
            <span class="inline-ovh">
              <div class="title__main right">
                <span
                  class="slide-up"
                  data-content="XGBOOST — SENTIMENT ANALYSIS COVID-19 IN INDONESIA"
                  aria-hidden="true"></span>
                XGBOOST — SENTIMENT ANALYSIS COVID-19 IN INDONESIA
              </div>
            </span>
          </h1>
        </a>

        <div class="project__link">
          <a
            href="https://rosadecor.my.canva.site/thesis-showcase"
            target="_blank"
            rel="noopener noreferrer"
            class="c-button"
          >
            <span class="c-link">
              <span class="c-link__inner">
                <span>VIEW SITE</span>
                <span class="c-link__animated">VIEW SITE</span>
              </span>
            </span>
          </a>
        </div>
      </div>

      <span class="home__projects__line left">
        <span></span>
      </span>

      <div class="home__projects__project right">
        <div class="home__projects__project__label">
          <div class="label__inner">
            <p>
              WEB DEVELOPMENT / <br />
              LARAVEL
            </p>
          </div>
        </div>
        <a
          href="https://spa.oxindosolution.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="home__projects__project__link"
        >
          <h1
            class="home__projects__project__title"
            data-scroll=""
            data-scroll-direction="horizontal"
            data-scroll-speed="-8"
          >
            <span class="inline-ovh">
              <div class="title__main left">
                <span
                  class="slide-up"
                  data-content="SPA BOOKING APP - OXINDO WEB BASED SPA BOOKING RESERVATION"
                  aria-hidden="true"></span>
                SPA BOOKING APP - OXINDO WEB BASED SPA BOOKING RESERVATION
              </div>
            </span>
          </h1>
        </a>

        <div class="project__link">
          <a
            href="https://spa.oxindosolution.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="c-button"
          >
            <span class="c-link">
              <span class="c-link__inner">
                <span>VIEW SITE</span>
                <span class="c-link__animated">VIEW SITE</span>
              </span>
            </span>
          </a>
        </div>
      </div>
    </section>

    <!-- <h1 class="mt-8 text-center">Top Three Music</h1> -->
    <section class="flex flex-col md:flex-row">
      <AnimatedPinDemo
        client:load
        headTitle="Toko Sepatu"
        title="Toko Sepatu"
        href="https://tokosepatu.vercel.app/"
        desc="Landing Page UI/UX Design"
        backgroundImageUrl="/shoes.jpg"
      />

      <AnimatedPinDemo
        client:load
        headTitle="Motorycyle Homepage Concept"
        title="Motorycyle Shop UI Design"
        href="https://www.figma.com/file/HIQID6Bf50FpXzqzl5Ikph/Playground?type=design&node-id=0%3A1&mode=design&t=rHe6Sop1e4eHEYbz-1"
        desc="Figma UI Design"
        backgroundImageUrl="/engine.jpg"
      />

      <AnimatedPinDemo
        client:load
        headTitle="Trip In Lombok"
        title="Trip In Lombok"
        href="https://trip-in-lombok.vercel.app/"
        desc="Landing Page UI/UX Design"
        backgroundImageUrl="/gunung.jpg"
      />
    </section>

    <section class="home__projects">
      <span class="home__projects__line right">
        <span></span>
      </span>

      <div class="home__projects__project">
        <div class="home__projects__project__label">
          <div class="label__inner">
            <p>
              WEB DEVELOPMENT / <br />
              VUE JS
            </p>
          </div>
        </div>

        <a
          href="https://rumah-resep.vercel.app/"
          target="_blank"
          rel="noopener noreferrer"
          class="home__projects__project__link"
        >
          <h1
            class="home__projects__project__title"
            data-scroll=""
            data-scroll-direction="horizontal"
            data-scroll-speed="-8"
          >
            <span class="inline-ovh">
              <div class="title__main left">
                <span
                  class="slide-up"
                  data-content="RUMAH RESEP — EXPLORE YOUR FAVORITE RECIPE"
                  aria-hidden="true"></span>
                RUMAH RESEP — EXPLORE YOUR FAVORITE RECIPE
              </div>
            </span>
          </h1>
        </a>

        <div class="project__link">
          <a
            href="https://rumah-resep.vercel.app/"
            target="_blank"
            rel="noopener noreferrer"
            class="c-button"
          >
            <span class="c-link">
              <span class="c-link__inner">
                <span>VIEW SITE</span>
                <span class="c-link__animated">VIEW SITE</span>
              </span>
            </span>
          </a>
        </div>
      </div>

      <span class="home__projects__line left">
        <span></span>
      </span>

      <div class="home__projects__project">
        <div class="home__projects__project__label">
          <div class="label__inner">
            <p>
              CREATIVE DEVELOPMENT / <br />
              PORTFOLIO EXPLORATION
            </p>
          </div>
        </div>

        <a
          href="https://github.com/anggawidiarta/Dotaku-MobileApp"
          target="_blank"
          rel="noopener noreferrer"
          class="home__projects__project__link"
        >
          <h1
            class="home__projects__project__title"
            data-scroll=""
            data-scroll-direction="horizontal"
            data-scroll-speed="8"
          >
            <span class="inline-ovh">
              <div class="title__main left">
                <span
                  class="slide-up"
                  data-content="DOTAKU — MOBILE APP FOR HERO INFORMATION"
                  aria-hidden="true"></span>
                DOTAKU — MOBILE APP FOR HERO INFORMATION
              </div>
            </span>
          </h1>
        </a>

        <div class="project__link">
          <a
            href="https://github.com/anggawidiarta/Dotaku-MobileApp"
            target="_blank"
            rel="noopener noreferrer"
            class="c-button"
          >
            <span class="c-link">
              <span class="c-link__inner">
                <span>VIEW SITE</span>
                <span class="c-link__animated">VIEW SITE</span>
              </span>
            </span>
          </a>
        </div>
      </div>
      <span class="home__projects__line right">
        <span></span>
      </span>

      <div class="home__projects__project">
        <div class="home__projects__project__label">
          <div class="label__inner">
            <p>
              UI DEVELOPMENT / <br />
              FIREBASE
            </p>
          </div>
        </div>

        <a
          href="https://katakita-quotes-sharing.vercel.app/"
          target="_blank"
          rel="noopener noreferrer"
          class="home__projects__project__link gradient"
        >
          <h1
            class="home__projects__project__title"
            data-scroll=""
            data-scroll-direction="horizontal"
            data-scroll-speed="-8"
          >
            <span class="inline-ovh">
              <div class="title__main right">
                <span
                  class="slide-up"
                  data-content="QUOTES SHARING WEB APP - KATA KITA QUOTES SHARING"
                  aria-hidden="true"></span>
                QUOTES SHARING WEB APP - KATA KITA QUOTES SHARING
              </div>
            </span>
          </h1>
        </a>

        <div class="project__link">
          <a
            href="https://katakita-quotes-sharing.vercel.app/"
            target="_blank"
            rel="noopener noreferrer"
            class="c-button"
          >
            <span class="c-link">
              <span class="c-link__inner">
                <span>VIEW SITE</span>
                <span class="c-link__animated">VIEW SITE</span>
              </span>
            </span>
          </a>
        </div>
      </div>

      <span class="home__projects__line left">
        <span></span>
      </span>

      <div class="home__projects__project">
        <div class="home__projects__project__label">
          <div class="label__inner">
            <p>
              CREATIVE DEVELOPMENT / <br />
              PORTFOLIO EXPLORATION
            </p>
          </div>
        </div>

        <a
          href="https://javascript-playground-anggawidiarta.vercel.app/"
          target="_blank"
          rel="noopener noreferrer"
          class="home__projects__project__link"
        >
          <h1
            class="home__projects__project__title"
            data-scroll=""
            data-scroll-direction="horizontal"
            data-scroll-speed="8"
          >
            <span class="inline-ovh">
              <div class="title__main left">
                <span
                  class="slide-up"
                  data-content="PLAYGROUND - JS AND TS MINI PROJECT"
                  aria-hidden="true"></span>
                PLAYGROUND - JS AND TS MINI PROJECT
              </div>
            </span>
          </h1>
        </a>

        <div class="project__link">
          <a
            href="https://javascript-playground-anggawidiarta.vercel.app/"
            target="_blank"
            rel="noopener noreferrer"
            class="c-button"
          >
            <span class="c-link">
              <span class="c-link__inner">
                <span>VIEW SITE</span>
                <span class="c-link__animated">VIEW SITE</span>
              </span>
            </span>
          </a>
        </div>
      </div>

      <span class="home__projects__line right">
        <span></span>
      </span>
    </section>

    {/* Component for rendering certifications */}
    <Certifications />

    <ContactSection />

    <FooterPage />
  </main>
</BaseLayout>
