---
import BaseLayout from "../layout/BaseLayout.astro";
import Certifications from "../components/Certifications.astro";
import FooterPage from "../components/FooterPage.astro";
import { AnimatedPinDemo } from "../components/AnimatedPinDemo";
import { TextGenerateEffectDemo } from "../components/TextGenerateEffect";
import ContactSection from "../components/organisms/ContactSection.astro";
import Navigation from "../components/organisms/Navigation.astro";
import PinProjectsSection from "../components/templates/PinProjectsSection.astro";
import ProjectsSection from "../components/templates/ProjectsSection.astro";
---

<BaseLayout>
  <main class="home" data-scroll-container>
    <Navigation />

    <section class="home__hero">
      <div class="hero__title">
        <h1 class="mobile">
          FRONT <br />
          —— END <br />
          DEVELOPER
        </h1>
        <h1 class="hero__title__top overflow desktop">
          <div class="hero__title__top" title-overflow>
            <span
              class="hero__title__left"
              data-scroll=""
              data-scroll-direction="horizontal"
              data-scroll-position="top"
              data-scroll-speed="7"
            >
              <span class="hero__hover">F</span>
              <span class="hero__hover">R</span>
              <span class="hero__hover">O</span>
              <span class="hero__hover">N</span>
              <span class="hero__hover">T</span>
            </span>
            <span class="hero__title__dash desktop">——</span>
            <span class="hero__title__dash tablet">——</span>

            <span
              class="hero__title__right"
              data-scroll=""
              data-scroll-direction="horizontal"
              data-scroll-position="top"
              data-scroll-speed="-7"
            >
              <span class="hero__hover">E</span>
              <span class="hero__hover">N</span>
              <span class="hero__hover">D</span>
            </span>
          </div>
        </h1>

        <span class="hero__title__bottom overflow">
          <div class="hero__title__bottom">
            <h1 class="bottom__left desktop" title-overflow>
              <span class="hero__hover">D</span>
              <span class="hero__hover">E</span>
              <span class="hero__hover">V</span>
              <span class="hero__hover">E</span>
              <span class="hero__hover">L</span>
              <span class="hero__hover">O</span>
              <span class="hero__hover">P</span>
              <span class="hero__hover">E</span>
              <span class="hero__hover">R</span>
            </h1>
            <div class="bottom__right">
              <p class="hero__paragraph">
                <span class="first-word">About</span>
                <span class="capitalize md:hidden">
                  &nbsp; i am a Web developer & Data Enthusiast based in Lombok,
                  Indonesia, driven by a relentless pursuit of innovation and
                  continuous growth.</span
                >
                <TextGenerateEffectDemo
                  className="max-md:hidden"
                  words={"i am a Web developer & Data Enthusiast based in Lombok, Indonesia, driven by a relentless pursuit of innovation and continuous growth."}
                  client:load
                />
              </p>
              <div class="hero__scroll">
                <p class="capitalize">Scroll Down</p>
                <div class="c-infinite">
                  <span class="c-link">
                    <span class="c-link__inner">
                      <span>
                        <svg
                          width="20"
                          height="21"
                          viewBox="0 0 20 21"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M10.8333 13.9766L15.3033 9.50658L16.4816 10.6849L9.99998 17.1666L3.51831 10.6849L4.69664 9.50658L9.16664 13.9766V3.83325H10.8333V13.9766Z"
                            fill="#777777"></path>
                        </svg>
                      </span>
                      <span class="c-link__animated">
                        <svg
                          width="20"
                          height="21"
                          viewBox="0 0 20 21"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M10.8333 13.9766L15.3033 9.50658L16.4816 10.6849L9.99998 17.1666L3.51831 10.6849L4.69664 9.50658L9.16664 13.9766V3.83325H10.8333V13.9766Z"
                            fill="#777777"></path>
                        </svg>
                      </span>
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </span>
      </div>
    </section>

    <ProjectsSection />

    <PinProjectsSection />

    <Certifications />

    <ContactSection />

    <FooterPage />
  </main>
</BaseLayout>
