<section class="home__awards">
  <div class="home__awards__left">
    <h2 class="awards__title">
      <span>WORK / ORGANIZATION</span><br />
      <span>EXPERIENCE</span>
    </h2>
    <div class="home__awards__table">
      <div class="awards__item" data-fade-in>
        Inside Dev ⏤ Frontend Developer
      </div>
      <div class="awards__item" data-fade-in>
        Jalan Digital ⏤ Freelance Web Developer
      </div>
      <div class="awards__item" data-fade-in>
        Immigration Office Mataram ⏤ Web Developer
      </div>
      <div class="awards__item" data-fade-in>
        University Of Mataram ⏤ Assistant Lecturer For Databases System Course
      </div>
      <div class="awards__item" data-fade-in>
        Organization ⏤ Association Of Informatics Engineering Students
      </div>
      <div class="awards__item" data-fade-in>
        Organization ⏤ Family Of Hindu Dharma Engineering Students
      </div>
    </div>
    <br />
    <h2 class="awards__title">
      <span>CERTIFICATIONS</span><br />
      <span>LIST</span>
    </h2>
    <div class="home__awards__table">
      <div class="awards__item" data-fade-in>
        Solid Programming Principles
      </div><div class="awards__item" data-fade-in>
        Specialized Google Analytics Data
      </div>
      <div class="awards__item" data-fade-in>
        AI-900: Microsoft Azure AI Fundamentals
      </div>
      <div class="awards__item" data-fade-in>
        DP-900: Microsoft Azure Data Fundamentals
      </div>
      <div class="awards__item" data-fade-in>
        PL-900: Microsoft Power Platform Fundamentals
      </div>
    </div>
  </div>

  <div class="home__awards__right">
    <div class="home__awards__stack" data-fade-in>
      <h2 class="home__content__title">Interests</h2>
      <p class="home__content__desc">
        Web Development, UI/UX, Computer Hardware, Content Creation, Machine
        Learning, Artificial Intelligence, NLP.
      </p>
    </div>

    <div class="home__awards__ice" data-fade-in>
      <h2 class="home__content__title">ICEBREAKERS</h2>
      <p class="home__content__desc">
        During free time, indulging in activities like watching anime, reading
        books or comics, and exploring various genres of music that are pleasant
        to the ear is relished. Moreover, maintaining fitness through gym
        workouts and cycling is also enjoyed.
      </p>
    </div>
  </div>
</section>
