---
interface Props {
  text: string;
  href?: string;
  className?: string;
}

const { text, href, className = "" } = Astro.props;
---

<button class={`nav__button c-button ${className}`} nav-anim>
  <span class="c-link">
    <span class="c-link__inner">
      <span>{text}</span>
      <span class="c-link__animated">{text}</span>
    </span>
  </span>
</button>
