---
import HeaderPage from "../components/HeaderPage.astro";
import Preloader from "../components/Preloader.astro";
---

<!doctype html>
<html lang="en">
  <HeaderPage
    title="Angga Widiarta - Web Developer"
    contentDesc="Front End Developer Based In Lombok, Indonesia. Brimming With Enthusiasm And An Unwavering Optimism For Continuous Growth And Development"
  />

  <body class="bodyNotOverflow">
    <Preloader />

    <slot />
    
    <script>
      import "../js/index";
    </script>
  </body>
</html>
